nltk
gensim
sklearn
requests
beautifulsoup4

# For creating MS Word docs
python-docx

# For NLP topic discover
nltk
gensim
scikit-learn

# gMail API
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dateutil
lxml

# For summarization
# transformers
# torch
# torchvision
# torchaudio
# tensorflow

# For summarization using openai
# openai
